/*paper.jpg courtesy of http://textures8.com/paper-grunge-background-eight/
*/

body {
	background-image: url(paper.jpg);
	z-index: -1;
}

.container {
	left:0px;
	top: 0px;
	width: 1200px;
	height: 800px;
	position: fixed;
	background: white;
	opacity: 0.8;
}

.leftmarg {
	margin-left: 25px;
}

input {
	margin-top: 50px;
	margin-left: 25px;
	width: 200px;
}

.letters {
	display: inline-block;
	margin-left: -3px;
	background-image: url(lizzie_letters.png);
}

.blank {
	display: inline-block;
	width: 40px;
	height: 80px;
}

h5 {
	margin-top: -10px;
	margin-left: 10px;
}

.A {
	width: 50px;
	height: 80px;
	background-position: -18px 0px;
}

.a {
	width: 25px;
	height: 65px;
	background-position: -78px -15px;
}

.b {
	width: 25px;
	height: 65px;
	background-position: -120px -15px;
}

.c {
	width: 22px;
	height: 65px;
	background-position: -153px -15px;
}

.d {
	width: 30px;
	height: 65px;
	background-position: 165px -15px;
}

.e {
	width: 20px;
	height: 65px;
	background-position: 126px -15px;
}

.f {
	width: 25px;
	height: 65px;
	background-position: 95px -15px;
}

.ff {
	width: 34px;
	height: 65px;
	background-position: 58px -15px;
}

.g {
	width: 30px;
	height: 65px;
	background-position: -20px -78px;
}

.h {
	width: 30px;
	height: 65px;
	background-position: -63px -78px;
}

.i {
	width: 16px;
	height: 65px;
	background-position: -105px -78px;
}

.j {
	width: 30px;
	height: 65px;
	background-position: -130px -78px;
}

.k {
	width: 30px;
	height: 65px;
	background-position: -165px -78px;
}

.l {
	width: 21px;
	height: 65px;
	background-position: 150px -78px;
}

.ll {
	width: 30px;
	height: 65px;
	background-position: 115px -78px;
}

.m {
	width: 40px;
	height: 65px;
	background-position: 69px -78px;
}

.n {
	width: 30px;
	height: 65px;
	background-position: -25px -143px;
}

.o {
	width: 23px;
	height: 65px;
	background-position: -70px -143px;
}

.p {
	width: 30px;
	height: 65px;
	background-position: -107px -143px;
}

.q {
	width: 30px;
	height: 65px;
	background-position: -150px -143px;
}

.r {
	width: 25px;
	height: 65px;
	background-position: 160px -143px;
}

.lng_s {
	width: 20px;
	height: 65px;
	background-position: 96px -143px;
}

.ss {
	width: 35px;
	height: 65px;
	background-position: 65px -143px;
}

.s {
	width: 30px;
	height: 65px;
	background-position: -25px -207px;
}

.t {
	width: 25px;
	height: 65px;
	background-position: -60px -207px;
}

.u {
	width: 30px;
	height: 65px;
	background-position: -90px -207px;
}

.v {
	width: 30px;
	height: 65px;
	background-position: -130px -207px;
}

.w {
	width: 35px;
	height: 65px;
	background-position: -165px -207px;
}

.x {
	width: 30px;
	height: 65px;
	background-position: 140px -207px;
}

.y {
	width: 27px;
	height: 65px;
	background-position: 104px -207px;
}

.z {
	width: 25px;
	height: 65px;
	background-position: -18px -310px;
}